#others
private.yaml

data/
testingdata/
experiment-results/
wandb/
out/

#JASON
jason-2.6.3/
.metadata/

#Eclipes
bin/
.settings/
.classpath
.project

#jetbrains
.idea/
.DS_Store
*.iml

#LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

#Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
.Python

# Jupyter Notebook
.ipynb_checkpoints